<%- include('partials/header') %>
<main>
    <h1><%= projectDetails.title %></h1>

    <h2>Assign Categories</h2>
 <form action="/assign-categories/<%= projectId %>" method="POST">

    <div class="form-group">
      <% categories.forEach(category => { %>
        <div>
          <input
            type="checkbox"
            id="category-<%= category.category_id %>"
            name="categoryIds"
            value="<%= category.category_id %>"
            <%= assignedCategories.some(ac => ac.category_id === category.category_id) ? 'checked' : '' %>
          />
          <label for="category-<%= category.category_id %>"><%= category.name %></label>
        </div>
      <% }); %>
    </div>

    <button type="submit">Update Categories</button>

</main>
<%- include('partials/footer') %>