<%- include('partials/header') %>
<main>
    <h1><%= category.name %></h1>

    <h2>Service Projects</h2>

    <ul>
        <% projects.forEach(project => { %>
            <li>
                <a href="/project/<%= project.project_id %>">
                    <%= project.title %>
                </a>
            </li>
        <% }) %>
    </ul>
    <% if (user && user.role_name === 'admin') { %>
        <a class="btn-primary" href="/edit-category/<%= category.category_id %>">Edit Category</a>
    <% } %>
</main>
<%- include('partials/footer') %>
