<%- include('partials/header') %>
<main>
    <h1><%= category.name %></h1>

    <h2>Service Projects</h2>

    <ul>
        <% projects.forEach(project => { %>
            <li>
                <a href="/project/<%= project.project_id %>">
                    <%= project.title %>
                </a>
            </li>
        <% }) %>
    </ul>
</main>
<%- include('partials/footer') %>
