<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        
        <p>Here are a few of our partner organizations:</p>
        <ul>

            <% organizations.forEach(organization => { %>
                <li><img src="/images/<%= organization.logo_filenme %>" alt="<%= organization.name %> logo"><strong><%= organization.name %></strong>: <%= organization.contact_email %></li>
            <% }); %>
        </ul>
    </main>

<%- include('partials/footer') %>
