<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

    <h2><%= organizationDetails.name %></h2>
    <img src="/images/<%= organizationDetails.logo_filenme %>" alt="<%= organizationDetails.name %> logo">

    <p>Description: <%= organizationDetails.description %></p>

    <h3>Service Projects</h3>
    <ul>
        <% projects.forEach(project => { %>
            <li><a href="/project/<%= project.project_id %>"><%= project.title %></a></li>
        <% }) %>
    </ul>
    <p><a href="/edit-organization/<%= organizationDetails.organization_id %>">Edit Organization</a></p>
</main>
<%- include('partials/footer') %>
