
<%- include('partials/header') %>
<main>
    <h1><%= project.title %></h1>

    <p><strong>Description:</strong></p>
    <p><%= project.description %></p>

    <p><strong>Date:</strong></p>
    <p>
    <%= new Date(project.date).toLocaleString('en-NG', {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric'
    }) %>
    </p>

    <p><strong>Location:</strong></p>
    <p><%= project.location %></p>

    <p><strong>Organization:</strong></p>
    <p>
    <a href="/organization/<%= project.organization_id %>">
        <%= project.organization_name %>
    </a>
    </p>
    
    <h3>Categories</h3>

    <ul>
        <% categories.forEach(category => { %>
            <li>
                <a href="/category/<%= category.category_id %>">
                    <%= category.name %>
                </a>
            </li>
        <% }) %>
    </ul>
    <a href="/assign-categories/<%= project.project_id %>">Edit Categories</a>
</main>
<%- include('partials/footer') %>



