<%- include('partials/header') %>
<main>
     <h1>All Registered Users</h1>

    <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            </tr>
        </thead>

        <tbody>
            <% users.forEach(user => { %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.role_name %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>   
</main>
<%- include('partials/footer') %>